<div class="starry-container">
    <div class="card-container">
        <img class="crown" src="assets/images/crown.png" alt="Crowns popping out">
        <h1>Email validated</h1>
        <p>Welcome to our community !</p>
        <p>Your email was verified ! You can now log in to access the world of Lootopia !</p>
        <div class="btn-container">
            <lootopia-btn [routerLinkPath]="RoutePaths.LOGIN">Log in now</lootopia-btn>
            <img class="lootie" src="assets/images/lootie.png" alt="Lootie having fun">
        </div>
    </div>
</div>

