<div class="starry-container">
  <div class="card-container">
    @if (isTokenValid && this.route.snapshot.queryParamMap.get('token')) {
      <img class="crown" src="assets/images/crown.png" alt="Crowns popping out" />
      <h1>Email validated</h1>
      <p>Welcome to our community!</p>
      <p>
        Your email was verified! You can now log in to access the world of
        Lootopia!
      </p>
      <p>You will be soon redirected to the login page...</p>
      <div class="btn-container">
        <lootopia-btn [routerLinkPath]="RoutePaths.LOGIN">Log in now</lootopia-btn>
        <img class="lootie" src="assets/images/lootie.png" alt="Lootie having fun" />
      </div>
    } @else {
      <h1>Error during email verification</h1>
      <div class="error">
        {{ error }}
      </div>
      <p>
        Unfortunately, we couldn't verify your email. This might be due to an expired or invalid token.
      </p>
      Please contact our support team and send them this error message for further information.
    }
  </div>
</div>
