<div class="starry-container">
  <div class="card-container">
    <img class="crown" src="assets/images/crown.png" alt="Crowns popping out" />
    <h1>Registration Successful !</h1>
    <p>
      Your registration was successful. A verification email has been sent to
      your inbox.
    </p>
    <p>Please verify your account before attempting to log in.</p>
    <div class="btn-container">
      <lootopia-btn [routerLinkPath]="RoutePaths.LOGIN"
        >Log in now</lootopia-btn
      >
      <img
        class="lootie"
        src="assets/images/lootie.png"
        alt="Lootie having fun"
      />
    </div>
  </div>
</div>
