<div class="starry-container">
  <app-animation-overlay
    [needsAnimation]="isDigging"
    [foundSomething]="foundSomething"
    (closeAnimation)="isDigging = false"
  />
  <div class="map-component">
    <h1>Mapbox Map with Dig Mode</h1>
    <p>
      Click on the map to get coordinates and check if they are within the
      defined radius around the Eiffel Tower.
    </p>
    <div style="display: flex; justify-content: center; gap: 20px">
      <div style="display: flex; flex-direction: column; margin-right: 20px">
        <label for="style-select">Select Map Style:</label>
        <select
          id="style-select"
          [(ngModel)]="currentStyle"
          [disabled]="!hasMapLoaded || hasMapError"
          (change)="map && map.setStyle(currentStyle.url)"
        >
          @for (style of styles; track style.displayName) {
            <option [ngValue]="style">{{ style.displayName }}</option>
          }
        </select>
      </div>
      <lootopia-btn
        type="button"
        (click)="toggleDigMode()"
        [disabled]="!hasMapLoaded || hasMapError"
        (keydown)="toggleDigMode()"
      >
        {{ digMode ? 'Disable Dig Mode' : 'Enable Dig Mode' }}
      </lootopia-btn>
      <lootopia-btn
        type="button"
        (click)="toggleBuryMode()"
        [disabled]="!hasMapLoaded || hasMapError"
        (keydown)="toggleBuryMode()"
      >
        {{ buryMode ? 'Disable Burrow Mode' : 'Enable Burrow Mode' }}
      </lootopia-btn>
    </div>
    <div>
      <div
        id="map"
        class="map-container"
        [class]="{
          'digging-mode': digMode,
          'bury-mode': buryMode,
          isLoadingGradient: !hasMapLoaded,
          isError: hasMapError,
        }"
        ref="mapContainer"
      ></div>
    </div>

    <p *ngIf="userLattitude && userLongitude; else nocoords">
      Your Coordinates: Latitude: {{ userLattitude }}, Longitude:
      {{ userLongitude }}
    </p>
    <ng-template #nocoords>
      <p>
        Unable to retrieve your coordinates. Please allow location access in
        your browser settings.
      </p>
    </ng-template>
    <p>
      Click on the map to check if the clicked point is within the defined
      radius around the Eiffel Tower.
    </p>
    <p>
      You can change the map style using the dropdown above. The current style
      is :
      <strong>{{ currentStyle.displayName }}</strong>
    </p>
  </div>
</div>
