<div class="starry-container">
  <div class="card-container login-form">
    <h1>Register</h1>
    <p>Welcome to Lootopia, just fill up this adventure form to join us !</p>
    <img
      class="feather"
      src="assets/images/feather.png"
      alt="Ink feather quill"
    />
    <form [formGroup]="form" (ngSubmit)="submit()">
      @if (registrationError) {
        <div class="error">
          {{ registrationError }}
        </div>
      }

      <label for="username">Username : </label>
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Enter your username"
        required
      />

      @if (form.get('username')?.invalid && form.get('username')?.touched) {
        <div class="error"><p>Please enter a username.</p></div>
      }

      <label for="email">Email : </label>
      <input
        type="text"
        id="email"
        formControlName="email"
        placeholder="Enter your email"
        required
      />

      @if (form.get('email')?.invalid && form.get('email')?.touched) {
        <div class="error">
          <div *ngIf="form.get('email')?.errors?.['required']">
            <p>Email is required.</p>
          </div>
          <div *ngIf="form.get('email')?.errors?.['email']">
            <p>Please enter a valid email address.</p>
          </div>
        </div>
        <div
          *ngIf="form.errors?.['emailAlreadyExists'] && form.touched"
          class="error"
        >
        <p>This email is already registered.</p>
        </div>
      }

      <label for="password">Password :</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Enter your password"
        required
      />
      <label for="confirm-password">Confirm Password :</label>
      <input
        type="password"
        id="confirm-password"
        formControlName="confirmPassword"
        placeholder="Confirm your password"
        required
      />

      @if (form.get('password')?.invalid && form.get('password')?.touched) {
        <div class="error">
          @if (form.errors?.['passwordsMismatch']) {
            <p>Please enter the same password in both fields.</p>
          }
          @if (form.get('password')?.hasError('required')) {
            <p>Please enter a password.</p>
          }
          @if (form.get('password')?.hasError('pattern')) {
            <p>
              Your password must be 12+ chars with at least one uppercase,
              lowercase, number, and special character.
            </p>
          }
        </div>
      }     

      <div class="btn-container">
        <lootopia-btn [disabled]="form.invalid" (click)="submit()"
          >Register</lootopia-btn
        >
      </div>
    </form>

    <div class="btn-container">
      <lootopia-btn [routerLinkPath]="RoutePaths.LOGIN"
        >Already a member ? Log in</lootopia-btn
      >
    </div>
    <img
      class="lootie"
      src="assets/images/lootie.png"
      alt="Lootie having fun"
    />
  </div>
</div>
