.lootie {
  width: 10%;
  position: absolute;
  bottom: 3%;
  left: 10%;
  rotate: -10deg;
  z-index: 1;
  animation: float 3s ease-in-out infinite;
}

.lootie:hover {
  animation: spin 3s ease-in-out infinite;
}

.feather {
  width: 5%;
  position: absolute;
  top: 20%;
  right: 13%;
  rotate: 10deg;
  z-index: 1;
  animation: float 3s ease-in-out infinite;
}

.password-field {
  display: flex;
  align-items: center;
  margin-bottom: 5%;

  input {
    flex: 1;
    margin-bottom: 0;
  }

  .eye {
    margin-left: 0.5rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
    color: var(--button-color);
    font-size: 32px;
  }
}
