.lootie {
  width: 10%;
  position: absolute;
  bottom: 3%;
  left: 10%;
  rotate: -10deg;
  z-index: 1;
  animation: float 3s ease-in-out infinite;
}

.lootie:hover {
  animation: spin 3s ease-in-out infinite;
}

.feather {
  width: 5%;
  position: absolute;
  top: 20%;
  right: 13%;
  rotate: 10deg;
  z-index: 1;
  animation: float 3s ease-in-out infinite;
}

.submit-btn {
  margin: 5%;
}
