<div class="starry-container">
  <div class="card-container">
    <img class="crown" src="assets/images/crown.png" alt="Crowns popping out" />
    <h1>Hunt Successfully created !</h1>
    <p>
      Your hunt was successfully created ! You can invite participants or edit
      the hunt unless it has already started.
      <span>You will be redirected in 3 seconds...</span>
    </p>
    <div class="btn-container">
      <img
        class="lootie"
        src="assets/images/lootie.png"
        alt="Lootie having fun"
      />
    </div>
  </div>
</div>
