<div class="container">
  <div class="card-container no-border">
    <h2>User Profile</h2>
    <div class="profile-card">
      <img
        src="assets/images/lootie.png"
        alt="Profile Picture"
        class="profile-icon"
      />
      <div class="user-info">
        <h3>{{ (user$ | async)?.username }}</h3>
        <p class="label">
          <span class="label-name">Email:</span> {{ (user$ | async)?.email }}
        </p>
        <p class="label">
          <span class="label-name">Balance:</span> {{ (user$ | async)?.money }}
          <img
            class="currency-pic"
            alt="Currency"
            src="assets/images/crown.png"
          />
        </p>
        <p class="label">
          <span class="label-name">Language:</span>
          {{ (user$ | async)?.language }}
        </p>
        <p class="label">
          <span class="label-name">Type:</span> {{ (user$ | async)?.type }}
        </p>
        <div class="btn-container">
          <button (click)="toggleEdit()" class="edit-button">
            Edit Profile
          </button>
          <form
            *ngIf="isEditing"
            [formGroup]="editForm"
            (ngSubmit)="onSubmit()"
          >
            <label>
              Username:
              <input formControlName="username" />
            </label>
            <label>
              Email:
              <input formControlName="email" type="email" />
            </label>
            <label>
              Language:
              <input formControlName="language" />
            </label>

            <button type="submit">Save</button>
            <button type="button" (click)="cancelEdit()">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
