<div class="starry-container">
    <div class="card-container login-form">

      @if(success){
        <h1>Password reset email sent</h1>
        <p>Check your inbox for the password reset link.</p>
        <p>You will be soon redirected to the login page...</p>
        <div class="btn-container">
          <lootopia-btn [routerLinkPath]="RoutePaths.LOGIN">Log in now</lootopia-btn>
          <img class="lootie" src="assets/images/lootie.png" alt="Lootie having fun" />
        </div>
      }
      @else {
        
      <h1>Forgot your password ?</h1>
      <p>Enter your email, if it is valid, we will send you a link to reset your password.</p>
  
      @if (resetPassError) {
        <div class="error">
          {{ resetPassError }}
        </div>
      }
      <form [formGroup]="form" (ngSubmit)="resetPass()">
        <label for="email">Email : </label>
        <input
          type="text"
          id="email"
          name="email"
          formControlName="email"
          autocomplete="email"
          placeholder="Enter your email"
          required
        />        
        <div class="btn-container">
          <lootopia-btn [disabled]="form.invalid" (click)="resetPass()"
            >Reset password</lootopia-btn
          >
        </div>
      </form>
      <p>Did not mean to be here ?</p>
      <div class="btn-container">
        <lootopia-btn [routerLinkPath]="RoutePaths.REGISTER"
          >Register now</lootopia-btn
        >
        <lootopia-btn [routerLinkPath]="RoutePaths.LOGIN"
          >Log in</lootopia-btn
        >
      </div>
      }

      <img
        class="lootie"
        src="assets/images/lootie.png"
        alt="Lootie having fun"
      />
      <img class="crown" src="assets/images/crown.png" alt="Crowns" />
    </div>
  </div>
  