<div class="container">
  <img src="assets/images/lootopia-logo.png" alt="Lootopia Logo" class="logo" />
  <h1>Turn Your World Into an Adventure with Lootopia</h1>
  <p>Discover hidden treasures, complete exciting quests, and collect valuable rewards in the world's most immersive treasure hunting experience.</p>

  <div class="btn-container">
    <btn [routerLinkPath]="RoutePaths.LOGIN" [text]="'Coming back ?'"></btn>
    <btn [routerLinkPath]="RoutePaths.REGISTER" [text]="'Joining the adventure ?'"></btn>
  </div>
</div>

<div class="starry-container">
  <div class="card-container">
    <h2>Why did our Adventurers Choose Lootopia ?</h2>
    
    <div class="card">
      <div class="icon-container"><i class="icons-home fas fa-users"></i></div>
      <h3>A thriving community</h3>
      <p>Over 100,000+ explorers have already embarked on their treasure-hunting journey !</p>
      <p>Whether you prefer solo adventures or teaming up with friends, there's always a new quest waiting for you.
      Compete with other players, trade valuable artifacts, and climb the leaderboards to become the ultimate treasure hunter !</p>
    </div>

    <div class="card">
      <div class="icon-container"><i class="icons-home fas fa-gift"></i></div>
      <h3>Discover Real Rewards</h3>
      <p>Every chest you find is filled with surprises ! With over 10,000 unique loot items, ranging from legendary artifacts to powerful gear, every discovery is a step closer to fortune. Some treasures are even redeemable for real-world prizes—what will you uncover ?</p>
    </div>

    <div class="card">
      <div class="icon-container"><i class="icons-home fas fa-map"></i></div>
      <h3>Explore Like Never Before</h3>
      <p>Your city becomes a playground of mystery and adventure ! Whether you're using the in-game map or physically exploring, Lootopia transforms the real world into a vast treasure-hunting ground. Visit new locations, uncover hidden secrets, and turn everyday walks into legendary quests !</p>
    </div>

    <div class="card">
      <div class="icon-container"><i class="icons-home fas fa-trophy"></i></div>
      <h3>Limited-Time Events & Challenges</h3>
      <p>New events drop every month, featuring exclusive loot, rare artifacts, and massive rewards ! Compete in global challenges, participate in seasonal hunts, and unlock time-limited treasures before they're gone forever !</p>
    </div>

  </div>
</div>