<div class="container">
  <h1>Welcome back {{ user.email }} !</h1>
  <img src="assets/images/lootopia-logo.png" alt="Lootopia Logo" class="logo" />
  <h2>Ready to continue your adventure ?</h2>

<div class="starry-container">
  <h2>Sponsored Hunts</h2>
  <div class="card-container">
    <div class="box-container">
      <div class="card">
        <div class="icon-container"><i class="icons-home fas fa-users"></i></div>
        <h3>A thriving community</h3>
        <p>Over 100,000+ explorers have already embarked on their treasure-hunting journey!</p>
        <p>
          Whether you prefer solo adventures or teaming up with friends, there's always a new quest waiting for you.
          Compete with other players, trade valuable artifacts, and climb the leaderboards to become the ultimate treasure hunter!
        </p>
      </div>
    </div>
  </div>
</div>
